<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem
        id="fajarcell_menu_root"
        name="Fajar Cell"
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
        id="fajarcell_produk_menu_categ"
        name="produk"
        parent="fajarcell_menu_root"
        sequence="10"/>

    <menuitem
        id="fajarcell_pegawai_menu_categ"
        name="Pegawai"
        parent="fajarcell_menu_root"
        sequence="20"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem
	  id="fajarcell_transaksi_menu_categ"
	  name="Transaksi"
	  parent="fajarcell_menu_root"
	  sequence="42"/>

</odoo>